* {
  box-sizing: border-box;
}

.table th,
.table td {
  padding: 3px;
  text-align: left;
}
tr {
  line-height: 3rem;
}

.table thead tr:first-child th {
  background: #0ab2c4;
  color: #fff;
  text-align: center;
}
